@font-face {
    font-family: 'SourceHanSansHWSC-Bold';
    src: url('/fonts/SourceHanSansHWSC-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'NovecentoWideBold2';
    src: url('/fonts/Novecento-Wide-Bold-2.otf') format('opentype');
}

* {
    /* 禁止选中任何元素 */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    /* 给英文字母应用 NovecentoWideBold2 字体 */
    font-family: 'NovecentoWideBold2', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    margin: 0;
    backdrop-filter: blur(5px);

    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

h1,
p {
    /* 给中文字应用 SourceHanSansHWSC-Bold 字体 */
    font-family: 'SourceHanSansHWSC-Bold', "Microsoft YaHei", SimHei, sans-serif;
}

.countdown-container {
    text-shadow: 0 .1875rem .3125rem #1c1f21;
    font-size: 2.9rem;
    text-align: center;
}

#one-word {
    color: #333;
    font-family: 'DIN1451Mittelschrift', sans-serif;
}

#countdown {
    font-size: 5em;
    margin-top: 50px;
    color: #333;
}

#calendar {
    position: absolute;
    height: 20%;
    width: 40%;
    bottom: 55px;
    right: 0;
}

#calendar .cal-hd {
    transition: background-color 0.3s ease;
    cursor: move;
}

#calendar .cal-hd:hover {
    background-color: aliceblue;
}

#background-input {
    text-align: center;
    position: fixed;
    right: 0;
    top: 0;
    margin-bottom: 30px;
}

#background-input .button {
    display: flex;
}

#background-input button {
    margin-right: 20px;
    margin-left: 20px;
}